<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Topic table</h1>
        <table border="2px">
            <thead>
                <tr>
                    <th>Topic_name</th>
                </tr>
            </thead>
            <tbody>
                {% for to in topic_objects %}
                    <tr>
                        <td>{{to.topic_name}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>